mat-card {
    margin: 10px;
    background-color: pink;
}

.featuredPosts {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
    flex-direction: row;
}

.flexChild {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;
}