<div class="flexContainer">
  <mat-card
    class="flexChild mat-elevation-z8"
    *ngFor="let g of boardgames | async; index as i"
  >
    <mat-card-title>{{ g?.title }}</mat-card-title>
    <mat-card-subtitle>{{ g?.subtitle }}</mat-card-subtitle>
    <img
      matCardImage
      class="mat-card-content-image"
      src="https://cms.mattie.lgbt{{ g?.primaryPhoto?.url }}"
    />
    <mat-card-content [innerHTML]="boardgamesContent[i]"></mat-card-content>
    <mat-card-content>
      <span class="statusSpan">Status - </span>{{ g?.status }}
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-button
        *ngFor="let b of g?.buttons"
        (click)="redirect(b?.url)"
      >
        {{ b?.text }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
